@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/Merriweather/Merriweather-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  src: url("/assets/Merriweather/Merriweather-Bold.woff") format("woff");
}

* {
  font-family: "Merriweather";
}

h1{
  border-radius: 15px;
}
.group-category-item {
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
  border-radius: 10px;
  border-width: 2px;
  border-color: #fbb414;
  
}

.group-category-list {
  border-radius: 15px;
  background-color: none;
  border-width: 2px; 
  margin-bottom: 1rem !important;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.grupo {
  border-style: solid !important;
  border-color: #fbb414;
  border-radius: 10px;
  border-width: 2px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0.5rem; 
  border-bottom: 1px solid #ccc;
}

.title {
  background-color: white;
  border-radius: 15px;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 5px !important;
  border-color: #fbb414;
  margin-bottom: 1rem;
}

.box{
  width: 185vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  border-width: 2px;
  display: flex; 
  justify-content: left; 
  align-content: left; 
  flex-wrap: wrap;
  margin-left: 1px;
}
.category-card {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  display: flexbox; /* Para alinear elementos en la misma línea */
  justify-content: space-between; /* Espacio entre el título y los botones */
  align-items: center; /* Alinear verticalmente al centro */
  padding: 0.5rem; /* Espaciado interno opcional */
  border-bottom: 1px solid #ccc;
  border-width: 2px !important;
  border-color: #fbb414 !important;
  border-style: solid !important;
  width: 23rem;
  margin-left: 2px;
}

.category-card:hover {
  transform: translateY(-5px); /* Eleva el botón 5px hacia arriba */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}


h1,
h2,
h3 {
  margin-left: 10px;
  margin-top: 10px;
}



.subtitle {
  background-color: white;
  border-color: #fbb414 !important;
  border-style: solid !important;
  border-radius: 2px 10px;
  height: max-content;
  vertical-align: middle;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.handle{
  font-size: x-large;
  height: max-content;
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
  border: none;

}

.drag-handle {
  cursor: grab; /* Cambia el cursor para indicar que se puede arrastrar */
  font-size: x-large; /* Tamaño del ícono */
  margin-right: 0px; /* Espaciado entre el ícono y el contenido */
  color: #fbb414; /* Color del ícono */
  align-content: right;
  background-color: white;
  border-radius: 5px;
  height: max-content;
}

.drag-handle:hover {
  color: #000; /* Cambia el color al pasar el mouse */
}

.custom-line {
  border-radius: 10px;
  border-top: 10px solid; /* Línea simple y recta */
  border-color: #fbb414;
  margin: 20px 0; /* Espaciado arriba y abajo */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.modal-overlay {
  font-family: "Merriweather";
  position: fixed; /* Fija el modal en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  border-color: #FFA500 2px !important;
}

.modal-content {
  font-family: "Merriweather";
  background-color: white; /* Fondo del cuadro modal */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  border-color: #fbb414 !important;
  border-style: solid !important;
  border-width: 2px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor */
  width: 400px; /* Ancho del modal */
  max-width: 90%; /* Se ajusta en pantallas pequeñas */
  text-align: center; /* Opcional: centra el contenido del modal */
  font-size: larger;
}

.upex {
  margin-left: 5px !important;
  margin-top: 5px !important;
}

.select {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}


.addg {
  margin-left: 5px !important;
}


h3{
  font-family: "Merriweather";
}



.col-btn{
  background-color: #FFA500; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.col-btn:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.exc-btn{
  background-color: #000000; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.exc-btn:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}



i { 
  font-weight: 900;
}



body {
  font-family: 'Merriweather';
}


.modal-overlay-upex {
  font-family: "Merriweather";
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #FFA500 2px !important;
}

.modal-content-upex {
  font-family: "Merriweather";
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
}

.modal-buttons-upex {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.confirm-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}

/* Modal de Alerta */
.modal-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content-alert {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content-alert h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.modal-content-alert p {
  margin-bottom: 20px;
  font-size: 14px;
}

.modal-content-alert button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content-alert button:hover {
  background-color: #0056b3;
}